node_modules
dist
dist-ssr
*.local
*.tsbuildinfo

.env
.env.local
.env.*.local

.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.log

# Vite cache
.vite

# Claude Code
.claude/settings.local.json
.claude/settings.local.json
